.stApp{
    background : linear-gradient(
        135deg,
        #faf8fc 0%,
        #fcfee0 50%,
        #f9f3f1 100%
    );
    min-height : 100vh;
    font-family : 'Segoe UI', sans-serif;

}

.card {
    background-color : #f7f4bb;
    padding : 25px;
    border-radius : 16px;
    box-shadow : 0 8px 20px rgba(0, 0, 0, 0.08);
    margin-bottom : 25px;
}

h1,h2,h3 {
    color : #0f172a;
}

/* Metric box */
div[data-testid = "metric-container"] {
    background-color : #f8fafc;
    border-radius : 14px;
    padding : 15px;
    box-shadow : 0 4px 10px rgba(0,0,0,0.05);
}

.prediction-box {
    background : linear-gradient(
        135deg,
        #0755fc,
        #f7bbcf,
    );
    padding : 22px;
    border-radius : 14px;
    text-align : center;
    font-size : 22px;
    font-weight : bold;
    color : #6c14d1;
    margin-top : 15px;
}